:root { 
	--primary-color: #3f51b5; 
	--color:#E74E40/*#3f51b5*/; 
	--color-secondary: #e54031; 
	--color-tertiary: #283593; 
	--accenColor: #448aff; 
	--font-color: #fff;
	--font-color-g: #777;
}

body::-webkit-scrollbar-button {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid var(--color);
    background: #f2f2f2;
}

::-webkit-scrollbar {
    width: 9px;
    height: 11px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);*/
    border-radius: 0px;
    /*background-color: #f5f5f5;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #e5e5e5;
    border: 1px solid #ddd;
}

.feedback {
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	width: 100%;
	-webkit-animation: seconds 1.0s forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 5s;
	animation: seconds 1.0s forwards;
	animation-iteration-count: 1;
	animation-delay: 5s;
}

.feedbackPanel {
	display: flex;
	justify-content: space-between;
	padding-left: 0.2em;
	width: auto;
	list-style: none;
}

.feedbackPanelERROR {
	text-align: center;
	font-size: 13px;
	line-height: 1;
	width: 100%;
	background-color: #ef9a9a;
	border: 2px solid #ffcdd2;
	color: #444;
	border-radius: 5px;
	padding: 0.7em;
	margin-bottom: 0.5em;
	margin-right: 0.7em
}

.feedbackPanelINFO {
	font-size: 13px;
	width: 100%;
	line-height: 1;
	text-align: center;
	background-color: #effad1;
	border: 2px solid #8db715;
	color: #444;
	border-radius: 5px;
	padding: 0.7em;
	margin-bottom: 0.5em;
	margin-right: 0.7em;
}

.feedbackPanelWARNING {
	font-size: 13px;
	width: 100%;
	line-height: 1;
	text-align: center;
	background-color: #FFE082;
	border: 2px solid #FFC400;
	color: #444;
	border-radius: 5px;
	padding: 0.7em;
	margin-bottom: 0.5em;
	margin-right: 0.7em;
}

.message {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 25em;
	background-color: #D04B40;
	color: #fff;
	border-bottom: 1px solid rgba(254, 0, 0, 0.3);
	font-weight: normal;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 1em;
	top: -3em;
}

.message:before {
	position: relative;
	top: -3px;
	display: inline-block;
	font-family: "GB-Icons";
	content: "r";
	font-size: 2.5em;
	color: #fff;
}

.message ul {
	list-style: none;
}

@-webkit-keyframes seconds { 
	0% {
	opacity: 1;
	}

	100% {
		opacity:0;
		left:-9999px;
		position:absolute;
	}
}
@-moz-keyframes seconds { 
	0% {
		opacity: 1;
	}

	100% {
		opacity:0;
		left:-9999px;
		position:absolute;
	}
}

@-ms-keyframes seconds { 
	0% {
		opacity: 1;
	}

	100% {
		opacity:0;
		left:-9999px;
		position:absolute;
	}
}

@-o-keyframes seconds { 
	0% {
		opacity: 1;
	}

	100%
	{
		opacity:0;
		left:-9999px;
		position:absolute;
	}
}

@keyframes seconds { 
	0% {
		opacity: 1;
	}

	100%
	{
		opacity:0;
		left:-9999px;
		position:absolute;
}
} 

/* Wicket autocomplete */
div.wicket-aa {
	background-color: var(--color-secondary);
	border: 1px solid #CCCCCC;
	padding: 0.5em;
	color: black;
}

div.wicket-aa ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0pt;
	padding: 5px;
}

div.wicket-aa ul li.selected {
	background-color: var(--color);
	cursor: pointer;
	color: #fff;
}

div.wicket-aa ul li:before {
	content: " \2219 ";
	font-weight: bold;
	font-size: 20px;
	padding-right: 5px;
	vertical-align: middle;
}

.fixed-nav {
	margin: 0 auto;
	position: fixed;
	z-index: 999;
}

div.tab-panel {
	width: 99.99999998999999%;
	*width: 99.94680850063828%;
}

.tab-container .tab-row {
	position: relative;
	height: 40px;
	padding: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 2px solid #e8e8e8;
}

.tab-container .tab-row ul {
	text-decoration: none;
	list-style: none;
	position: relative;
	height: 40px;
	display: -webkit-flex;
	justify-content: center;
	padding: 0;
	left: 0;
}

.tab-container .tab-row ul li {
	flex: auto;
}

.tab-container .tab-row ul li a {
	display: block;
	height: 40px;
	padding: 0 0.7em;
	line-height: 40px;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	border-left: 1px solid #ddd;
	text-align: center;
	font-size: 14px;
	font-style: oblique;
	font-weight: bold;
}

.tab-container .tab-row ul li a:hover {
	background-color: var(- -color-tertiary) !important;
	border-bottom: 2px solid var(- -color-secondary);
	color: #444 !important;
	border-right: 1px solid var(- -color-secondary);
}

.tab-container .tab-row li.selected a:link, .tab-container .tab-row a:visited.active
	{
	border-bottom: 2px solid var(- -color);
	color: #444;
	border-right: 1px solid var(- -color);
	border-left: 1px solid var(- -color);
	border-top: 1px solid var(- -color);
}

.file-input {
	border-radius: 0.2em;
	margin-left: 1em;
	position: relative;
	background-color: #fff;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	padding: 0.34em 7em 0.3em 0;
	width: 100%;
	color: #bbb;
}

.file-input:focus {
	outline: none !important;
	border: 0;
	border: 1px solid var(- -color);
}

.file-input::before {
	content: ' Select file';
	background: #f6f6f6;
	border: 1px solid #e8e8e8;
	border-radius: 0.2em 0 0 0.2em;
	color: #555;
	padding: 0.38em 0.9em;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	position: absolute;
	text-align: center;
	top: -1px;
	left: -1px;
	width: 139px;
}

.file-input:focus::before {
	outline: none !important;
	border: 1px solid var(- -color);
}

.file-input::after {
	font-family: 'gb-Icons';
	content: 'l';
	background: #f6f6f6;
	border-right: 0px;
	border-radius: 0.2em 0 0 0.2em;
	color: var(- -color);
	font-size: 1.2em;
	padding: 0.3em 0.4em 0.45em 0.5em;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 600;
	font-size: 10pt;
	position: absolute;
	top: 1px;
	left: 1em;
}

.file-input:focus::after {
	outline: none !important;
	border-right: none;
}

.headerSpan {
	border: solid 1px;
	border-color: var(--color-tertiary);
	font-size: 13px;
	float: right;
	margin-top: -10px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	background-color: var(--color);
	color: var(--font-color);
}
.header-btn{
	display: flex;
}
.header-btn:hover {
	background-color: inherit;
}
.header-btn:hover .pd-header-title{
	color:var(--color) !important;
}

/*div wicket-modal*/
div.wicket-mask-dark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .1;
	background-color: black;
	filter: alpha(opacity = 10);
	background-image: url('transparent2.png')
}

div.wicket-mask-transparent {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('transparent1.gif')
}

div.wicket-modal {
	_position: absolute;
	z-index: 20001;
	visibility: hidden
}

div.wicket-modal div.w_top_1 {
	width: 100%;
	overflow: hidden
}

div.wicket-modal div.w_top {
	height: 11px;
	background-position: 0 -16px;
	overflow: hidden;
	cursor: n-resize;
	padding: 0;
	margin: 0
}

div.wicket-modal .w_topLeft {
	width: 14px;
	height: 11px;
	float: left;
	background-position: 0 0;
	overflow: hidden;
	cursor: nw-resize
}

div.wicket-modal div.w_topRight {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	width: 14px;
	height: 11px;
	float: right;
	background-position: -16px 0;
	overflow: hidden;
	cursor: ne-resize;
}

div.wicket-modal div.w_left {
	background-position: 0 0;
	background-repeat: repeat-y;
	cursor: w-resize;
	width: 50%
}

div.wicket-modal div.w_right_1 {
	margin: 0 auto;
	width: 70%;
}

div.wicket-modal div.w_right {
	background-position: right;
	background-repeat: repeat-y;
	cursor: e-resize;
	width: 100%
}

div.wicket-modal div.w_blue div.w_left, div.wicket-modal div.w_blue div.w_right
	{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: none !important;
	_background-image: none !important;
}

div.wicket-modal div.w_content_1 {
	margin: 0 auto;
	width: 70% !important;
}

div.wicket-modal div.w_caption {
	height: 40px;
	font-size: 15px !important;
	line-height: 40px !important;
	padding-top: 0.5em;
	padding-left: 1em !important;
	border-radius: 7px 7px 0 0;
}

div.wicket-modal a.w_close {
	height: 16px;
	width: 16px;
	overflow: hidden;
	background-position: -64px 0;
	position: absolute;
	top: 12px;
	right: 7px;
	padding: 0;
	margin: 0;
	color: var(- -color);
}

div.wicket-modal a.w_close:hover {
	float: right;
	height: 16px;
	width: 16px;
	overflow: hidden;
	background-position: -80px 0
}

div.wicket-modal h3.w_captionText {
	height: 1.4em !important;
	line-height: 1.4em !important;
	position: absolute !important;
	margin-left: 3px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: normal !important;
	left: 10px !important;
	font-size: 18px !important;
	color: #444 !important;
}

div.wicket-modal h3.w_captionText:before {
	font-family: 'FontAwesome';
	content: "\f097";
	padding-right: 7px;
	position: relative;
	font-weight: normal !important;
	color: var(- -color) !important;
}

div.wicket-modal div.w_content_2 {
	width: 100%;
	background-color: white;
	padding-top: .1em;
	_overflow: auto;
	cursor: default
}

div.wicket-modal div.w_content_3 {
	border: 1px solid #bbb;
	padding: 0
}

div.wicket-modal div.w_content {
	width: 100%;
	background-color: white
}

div.wicket-modal div.w_content_container {
	position: relative
}

div.wicket-modal iframe.wicket_modal {
	width: 100%;
	height: 400px;
	padding: 0;
	margin: 0;
	border-width: 0;
	position: relative
}

div.wicket-modal div.w_bottom_1 {
	width: 100%;
	overflow: hidden;
	cursor: n-resize
}

div.wicket-modal div.w_bottom {
	height: 15px;
	background-position: 0 -32px;
	overflow: hidden
}

div.wicket-modal div.w_bottomRight {
	width: 14px;
	height: 15px;
	float: right;
	background-position: -48px 0;
	cursor: nw-resize;
	overflow: hidden
}

div.wicket-modal div.w_bottomLeft {
	width: 14px;
	height: 15px;
	float: left;
	background-position: -32px 0;
	overflow: hidden;
	cursor: ne-resize
}

div.wicket-modal div.w_blue div.w_top, div.wicket-modal div.w_blue div.w_bottom,
	div.wicket-modal div.w_blue div.w_topLeft, div.wicket-modal div.w_blue div.w_topRight,
	div.wicket-modal div.w_blue div.w_bottomRight, div.wicket-modal div.w_blue div.w_bottomLeft,
	div.wicket-modal div.w_blue a.w_close {
	
}

div.wicket-modal div.w_silver div.w_left, div.wicket-modal div.w_silver div.w_right
	{
	background-image: none !important;
	_background-image: none !important;
}

div.wicket-modal div.w_silver div.w_top, div.wicket-modal div.w_silver div.w_bottom,
	div.wicket-modal div.w_silver div.w_topLeft, div.wicket-modal div.w_silver div.w_topRight,
	div.wicket-modal div.w_silver div.w_bottomRight, div.wicket-modal div.w_silver div.w_bottomLeft,
	div.wicket-modal div.w_silver a.w_close {
	
}

#ajaxveil {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	opacity: 100;
	/* width: 560px;
  margin: -250px 0 0 -280px;*/
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	/* -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; */
}

#ajaxveil.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-ms-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%;
}

#ajaxveil.fade.in {
	top: 50%;
}

.bottomGoTop {
	position: fixed;
	bottom: 45px;
	right: 15px;
	width: 45px;
	height: 45px;
	line-height: 40px;
	text-align: center;
	display: none;
	background-color: var(- -color);
	color: #fff;
	border-radius: 50%;
	z-index: 9999;
}

.gbSelect {
	font-size: 13px !important;
	height: 50px !important;
}

.btnLogin {
	border: none!none;
}

.table-head {
	background: var(--color-secondary) !important;
	color:#fff;
}
table{
  border-collapse: collapse;
  border-radius: 25px !important;
  overflow: hidden;
  color:#2E3D50 !important;
}
td{
	background-color: #fff;
}
th, td {
  padding: 1em;
  border-right:2px solid #EDEDED;
  border-bottom:2px solid #EDEDED;
}

.pull-right {
	float: right;
}

.link:hover {
	cursor: pointer;
}



a{
	/*color: var(--color);*/
	transition: all 0.5s; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:0.2em;
	
}

a:hover{
	color: var(--font-color);
	background-color: var(--color-secondary);
}

.goto a {
    border: 1px solid #ddd;
    color: var(--color);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    line-height: 1.5;
    font-weight: normal;
}
.goto a:hover{
	color:#fff !important;
}

.header-title-style{
	background: var(--color-secondary);
	text-align: center;
	padding: 12px 0;
	color: #333;
	font-weight: bold;
	
}

.seo-fact:hover{
	cursor: pointer;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.labelSwitch {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 35px;
	background: #7F7F7F;
	display: block;
	border-radius: 90px;
	position: relative;
}

.labelSwitch:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .labelSwitch {
	background: var(--color-secondary);
}

input:checked + .labelSwitch:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.labelSwitch:active:after {
	width: 130px;
}

.header-image {
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid var(--color);
	border-radius: 50%;
	width: 45px;
	height: 45px;
	overflow: hidden;
}
.header-image img{
	width:32px;
	height: 30px;
}
.pd-header-title{
	display:flex;
	justify-content:center;
	height:50px;
	align-items:center;
	color:#777;
	font-size: 20px;
	font-weight:bold;
	padding-left: 10px;
}

.container-hexagon-menu{
	display:flex;
	
}

.hexagon-menu-item{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
	width: 60px;
	height: 70px;
	margin:5px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);	
	animation-duration: 3s;
  	animation-iteration-count: 2;
}
.hexagon-title-menu-item{
	width:100%;
	text-align:left;
	padding-left:7px;
	margin-top:5px;
	font-size:7px;
	font-weight:800 !important;
	color:#CECECE;
	text-transform: uppercase;
	transition:all 0.5s;
}
.hexagon-icon-menu-item{
	width: 30px;
	height: 30px;
}

.page-title-submenu{
	 position: relative;
    margin-top:75px;
    display: flex;
    height:80px;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

/*Radial Menu*/

.radial-menu {
	left: 0;
	top: 50%;
	animation-duration: 3s;
  	animation-iteration-count: 2;
}

.radial-menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px !important;
  height: 40px !important;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  background: var(--color);
}
.radial-menu-toggler:hover + label, .radial-menu-toggler:hover + label:before, .radial-menu-toggler:hover + label:after {
  background: var(--color);
}

.radial-menu-toggler:checked + label {
  background: transparent;
}


.radial-menu-toggler:checked + label:before, .radial-menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.radial-menu-toggler:checked + label:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.radial-menu-toggler:checked + label:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.radial-menu-toggler:checked ~ ul .radial-menu-item {
  opacity: 1;
}
.radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(1) {
  -webkit-transform: rotate(80deg) translateX(-80px);
          transform: rotate(80deg) translateX(-80px);
}
.radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(2) {
  -webkit-transform: rotate(130deg) translateX(-80px);
          transform: rotate(130deg) translateX(-80px);
}
.radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(3) {
  -webkit-transform: rotate(180deg) translateX(-80px);
          transform: rotate(180deg) translateX(-80px);
}
.radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(4) {
  -webkit-transform: rotate(230deg) translateX(-80px);
          transform: rotate(230deg) translateX(-80px);
}
.radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(5) {
  -webkit-transform: rotate(280deg) translateX(-80px);
          transform: rotate(280deg) translateX(-80px);
}
/* .radial-menu-toggler:checked ~ ul .radial-menu-item:nth-child(6) {
  -webkit-transform: rotate(265deg) translateX(-100px);
          transform: rotate(265deg) translateX(-100px);
} */

.radial-menu-item:nth-child(1) a {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}


.radial-menu-item:nth-child(2) a {
  -webkit-transform: rotate(-170deg);
          transform: rotate(-170deg);
}

.radial-menu-item:nth-child(3) a {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.radial-menu-item:nth-child(4) a {
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.radial-menu-item:nth-child(5) a {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}


.radial-menu-toggler:checked ~ ul .radial-menu-item a {
  pointer-events: auto;
}

.radial-menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: var(--color);
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.radial-menu-toggler + label:before, .radial-menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: var(--color);
  transition: top 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s;
  transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
  content: "";
  position: absolute;
  left: 0;
}
.radial-menu-toggler + label:before {
  top: 10px;
}
.radial-menu-toggler + label:after {
  top: -10px;
}



/* .radial-menu-item:nth-child(6) a {
  -webkit-transform: rotate(-275deg);
          transform: rotate(-275deg);
} */

.radial-menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: 40px;
  display: block;
  opacity: 0;
  transition: 0.5s;
  
}

.radial-menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 40px;
  color: var(--font-color-g);
   background: rgba(255, 255, 255, 0.9);
 /* background: var(--color);*/
  border-radius: 5%; 
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  pointer-events: none;
  transition: .2s;
  text-transform: uppercase;
}

.radial-menu-item a:hover {
	 color: var(--color);
	 font-size: 20px;
}

.radial-menu-container {
	position: fixed;
	left: 10px;
	top: 50%;
	width: 100px;
} 

/* Page Title BOM Layout */

.page-title-area-bom {
	display: flex;
    position: relative;
    margin-top:-20px;
    left:-70px;
    height:50px;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.main-content-inner-bom {
	margin-top:155px;
    padding-left:80px; 
}

.item-image{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	border:2px solid var(--color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.style-image{
	width: 30px;
	height: 30px;
}

.item-image:hover .style-image {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	top:50%;
	left:50%;
	width:70vh;
	height:70vh;
	background-color:#fff;
	border:2px solid var(--color);
	border-radius:0;
	z-index:1500;
	animation: zoomInRight 0.2s;
	box-shadow: 5px 5px 15px #444;
	border-radius:0 50px 0 50px;
 	transform:translate(-50%, -50%);
/*  		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);	 */
}

.td-center {
	text-align: center;
}

.width-100{
	width:100px;
}

.flowchart-generate-container {
	width:150px;
	position: absolute;
	right: 0;
	margin-top:-10px;
}

.flowchart-generate-container a {
	border:2px solid #444;
	border-radius:5px;
	padding: 7px 10px;
	font-size:12px;
	color:#444;
}
.flowchart-generate-container a:hover {
	color:#fff;
	border: 2px solid var(--color);
}

.flowchart-container {
	position:relative;
	width: 50%;
	margin:0 auto;
	top:0;
	padding-left:45px;
	padding-bottom: 50px;
}


.flowchart-element {
  margin: 0 auto;
  text-align: center;
  background-color: red;
  width: 1px;
  
}

.svg-flow {
	position: absolute;
	
}

.flowchart-element-init {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	width: 150px;	
	color:#ededed !important;
	height: 75px;
	font-size: 14px;
	margin: 3px auto;
	background-color: var(--color);
	-webkit-clip-path: ellipse(50% 40% at 50% 50%);
	clip-path: ellipse(50% 40% at 50% 50%);
	transition:all 0.5s;
}
.flowchart-element-init:hover {
	background-color: #435465;
	color:#EDEDED !important;
		box-shadow: 2px 2px 20px #777;
	font-size: 15px;
}

.flowchart-element-finish {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	width: 150px;	
	color:#ededed !important;
	height: 75px;
	font-size: 14px;
	margin: 10px auto;
	padding: 0;
	background-color: var(--color);
	/*margin-top: 5px;*/
	margin-bottom: 50px;
	-webkit-clip-path: ellipse(50% 35% at 50% 50%);
	clip-path: ellipse(50% 35% at 50% 50%);
	transition:all 0.5s;
}
.flowchart-element-finish:hover {
	background-color: #435465;
	color:#EDEDED !important;
		box-shadow: 2px 2px 20px #777;
	font-size: 15px;
}

.flowchart-element-task {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	width: 150px;	
	color:var(--color) !important;
	height: 75px;
	font-size: 12px;
	border-radius: 3px;
	margin: 0 auto;
	border:2px solid var(--color);
	transition:all 0.5s;
}

.flowchart-element-task:hover {
	background-color: var(--color);
	box-shadow: 2px 2px 20px #777;
	color:#EDEDED !important;
	font-size: 14px;
}

.flowchart-element-decision {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	width: 150px;	
	color:#ededed !important;
	height: 150px;
	font-size: 12px;
	margin: 0 auto;
	border:2px solid var(--color);
	background-color: var(--color);
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	padding: 7px; 2px;
	transition:all 0.5s;
}
.flowchart-element-decision:hover {
	background-color: #435465;
	color:#EDEDED !important;
	font-size: 13px;
		box-shadow: 2px 2px 20px #777;
}

.flowchart-element-position-two {
	margin-left: 250px;
}

/*JS plumb*/
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.window {
}

    .window:hover {
        cursor: pointer;
    }

.menu {
    background-color: #EFEFEF;
    border: 1px solid #346789;
    box-shadow: 2px 2px 5px #AAAAAA;
    color: black;
    min-height: 3em;
    position: absolute;
    min-width: 5em;
}

.task {
    background-color: #EEEEEF;
    border: 1px solid #346789;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px #AAAAAA;
    color: black;
    min-height: 3em;
    position: absolute;
    min-width: 5em;
}

.point {
    background-color: #333333;
    border: 1px solid #AAAAAA;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #AAAAAA;
    color: white;
    min-width: 50px;
    min-height: 30px;
    font-size: 11pt;
    padding: 10px;
    position: absolute;
    text-align: center;
}

    .point:hover {
        box-shadow: 2px 2px 19px #AAAAAA;
    }

.decision {
    transform: rotate(-45deg);
    overflow: hidden;
    border: 1px solid #346789;
    border-radius: 0.3em;
    color: black;
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #F4F4F4;
    box-shadow: 0 0 0 1px #CCCCCC;
    color: #000000;
    display: block;
    height: 80px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 80px;
}

    .decision .ctrl_container {
        display: table-cell;
        height: 80px;
        padding: 0 10px;
        text-align: center;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 80px;
    }

.button {
    text-align: center;
    border: 1px solid;
    margin: 5px;
}

    .button:hover {
        cursor: pointer;
    }

.menu_button {
    padding: 5px;
}

    .menu_button:hover {
        background-color: #AAAAAA;
        color: black;
    }

.button_add {
    background-color: #00CC00;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding: 2px;
    height: 25px;
    width: 25px;
    color: grey;
}

    .button_add:hover {
        background-color: #00AA00;
        color: black;
    }

.button_remove {
    font-size: 9pt;
    color: darkgrey;
    border-radius: 30%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding: 5px;
    min-width: 10px;
    max-width: 15px;
    text-align: center;
}

.task .button_remove {
    float: right;
}

.decision .button_remove {
    margin: auto auto;
}

.button_remove:hover {
    background-color: darkred;
    color: white;
}

.menu_button_container {
    margin: 5px;
}

.ctrl_container {
    margin: 5px;
    height: 40px;
}

.details_container {
    margin: 5px;
    min-height: 40px;
}

.detail_label {
    font-size: 9pt;
    color: grey;
}

.detail_text {
    width: 80px;
    font-size: 10pt;
}

._jsPlumb_connector, ._jsPlumb_startpoint {
    cursor: pointer;
}


